<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/prod-slider/prod-slider.html')

-->

<article class="prod-slider">

  <div class="row  prod-slider__row">

    <div class="prod-slider__slider-col">

      <div class="prod-slider__container">

        <div class="swiper-container  prod-slider__top">

          <div class="swiper-wrapper">

            <div class="swiper-slide  embed-responsive  embed-responsive--1-1  prod-slider__slide">
              <picture>
                <source data-srcset="img/prod-slider_img.webp" media="(min-width: 1280px)" type="image/webp">
                <source data-srcset="img/prod-slider_img.jpg" media="(min-width: 1280px)">
                <!-- 1280 400х400 -->
                <source data-srcset="img/prod-slider_img.webp" type="image/webp">
                <img class="swiper-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="img/prod-slider_img.jpg" alt="Фото" width="350" height="350">
              </picture>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide  embed-responsive  embed-responsive--1-1  prod-slider__slide">
              <picture>
                <source data-srcset="img/prod-slider_img-2.webp" media="(min-width: 1280px)" type="image/webp">
                <source data-srcset="img/prod-slider_img-2.jpg" media="(min-width: 1280px)">
                <!-- 1280 400х400 -->
                <source data-srcset="img/prod-slider_img-2.webp" type="image/webp">
                <img class="swiper-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="img/prod-slider_img-2.jpg" alt="Фото" width="350" height="350">
              </picture>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide  embed-responsive  embed-responsive--1-1  prod-slider__slide">
              <picture>
                <source data-srcset="img/prod-slider_img.webp" media="(min-width: 1280px)" type="image/webp">
                <source data-srcset="img/prod-slider_img.jpg" media="(min-width: 1280px)">
                <!-- 1280 400х400 -->
                <source data-srcset="img/prod-slider_img.webp" type="image/webp">
                <img class="swiper-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="img/prod-slider_img.jpg" alt="Фото" width="350" height="350">
              </picture>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide  embed-responsive  embed-responsive--1-1  prod-slider__slide">
              <picture>
                <source data-srcset="img/prod-slider_img-2.webp" media="(min-width: 1280px)" type="image/webp">
                <source data-srcset="img/prod-slider_img-2.jpg" media="(min-width: 1280px)">
                <!-- 1280 400х400 -->
                <source data-srcset="img/prod-slider_img-2.webp" type="image/webp">
                <img class="swiper-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="img/prod-slider_img-2.jpg" alt="Фото" width="350" height="350">
              </picture>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

        </div>


        <div class="swiper-container  prod-slider__thumbs">
          <div class="prod-slider__next"></div>
          <div class="prod-slider__prev"></div>

          <div class="swiper-wrapper">

            <div class="swiper-slide  prod-slider__thumbs-slide">
              <picture>
                <source srcset="img/prod-slider_img.webp" type="image/webp">
                <img src="img/prod-slider_img.jpg" alt="Фото">
              </picture>
            </div>

            <div class="swiper-slide  prod-slider__thumbs-slide">
              <picture>
                <source srcset="img/prod-slider_img-2.webp" type="image/webp">
                <img src="img/prod-slider_img-2.jpg" alt="Фото">
              </picture>
            </div>

            <div class="swiper-slide  prod-slider__thumbs-slide">
              <picture>
                <source srcset="img/prod-slider_img.webp" type="image/webp">
                <img src="img/prod-slider_img.jpg" alt="Фото">
              </picture>
            </div>

            <div class="swiper-slide  prod-slider__thumbs-slide">
              <picture>
                <source srcset="img/prod-slider_img-2.webp" type="image/webp">
                <img src="img/prod-slider_img-2.jpg" alt="Фото">
              </picture>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="prod-slider__text-col">

      <form id="prod-slider-form" class="prod-slider__text" action="/" method="post">

        <div class="row">

          <div class="prod-slider__title-col">
            <div class="prod-slider__title-wrapper">
              <h1 class="prod-slider__title">Набор силовой RN-Sport со штангой 4 грифа + 75 кг блинов + скамья жимовая (TrX4_075)</h1>
              <span class="prod-code">Код товара: <span>245 256 5205</span></span>
            </div>
          </div>

          <div class="prod-slider__media-col">
            <div class="prod-slider__media">

              <div class="prod-slider__color">
                <h5 class="prod-slider__color-title">Цвет:</h5>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#ff0000">
                    <span class="prod-slider__color-text">Красный</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#00ff00">
                    <span class="prod-slider__color-text">Зеленый</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#0000ff">
                    <span class="prod-slider__color-text">Синий</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#daa520">
                    <span class="prod-slider__color-text">Золотой</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#7fffd4">
                    <span class="prod-slider__color-text">Аквамарин</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#8a2be2">
                    <span class="prod-slider__color-text">Фиолетовый</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#a52a2a">
                    <span class="prod-slider__color-text">Коричневый</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#dc143c">
                    <span class="prod-slider__color-text">Малиновый</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#00008b">
                    <span class="prod-slider__color-text">Темно-синий</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#ff8c00">
                    <span class="prod-slider__color-text">Оранжевый</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#2f4f4f">
                    <span class="prod-slider__color-text">Серо-зеленый</span>
                  </label>
                </span>
                <span class="prod-slider__group">
                  <label class="prod-slider__color-name">
                    <input class="prod-slider__color-input" type="radio" name="color" value="#000000">
                    <span class="prod-slider__color-text">Черный</span>
                  </label>
                </span>
              </div>

              <dl class="prod-slider__producer">
                <dt class="prod-slider__producer-name">
                  Производитель:
                </dt>
                <dd class="prod-slider__producer-value">
                  <a href="#" class="prod-slider__producer-link">Assault Fitness</a>
                  <img src="img/precor.jpg" alt="Assault Fitness" width="60">
                </dd>
              </dl>

              <div class="embed-responsive  embed-responsive--16-9">
                <iframe class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==  data-src="https://www.youtube.com/embed/HNpLuXOg7xQ" title="Название видео" style="border: 0;" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <div class="prod-slider__cart-col">
            <div class="prod-slider__cart">

              <div class="prod-slider__rate">
                @@include('../../blocks/star-rating-marks/star-rating-marks.html')
                <a href="#" class="prod-slider__review-link"><span>3</span> отзыва</a>
                <span class="prod-slider__availability">В наличии</span>
              </div>

              <div class="prod-slider__price">
                <span class="prod-slider__old-price">150 400</span>
                <span class="prod-slider__new-price">1 148 400 <sup>грн</sup></span>
              </div>

              <div class="prod-slider__controls">
                <button class="btn  btn--text-icon  prod-slider__favorit-btn" type="button">
                  <svg width="26" height="24" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#favorite-icon"></use>
                  </svg>В желаемое
                </button>
                <button class="btn  btn--text-icon  prod-slider__compare-btn" type="button">
                  <svg width="24" height="24" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#compare-icon"></use>
                  </svg>К сравнению
                </button>
                <button class="btn  btn--text-icon  prod-slider__cart-btn" type="button">
                  <svg width="24" height="24" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#cart-icon"></use>
                  </svg>В корзину
                </button>
              </div>

            </div>
          </div>

        </div>

      </form>

    </div>

  </div>

</article>
