.prod-slider {
  margin-bottom: 20px;

  $block-name:                &; // #{$block-name}__element

  &__slider-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 12);
    @include col(xl, 5);
    box-shadow: $shadow;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      box-shadow: none;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__text-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 12);
    @include col(xl, 7);
    box-shadow: $shadow;

    @media (min-width: $screen-md) {
      box-shadow: none;
    }
  }

  &__title-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 12);
  }

  &__media-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 6);
    @include col(xl, 7);
  }

  &__cart-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col-offset(md, 1);
    @include col(md, 5);
    @include col-offset(xl, 0);
    @include col(xl, 5);
  }

  &__container {

    @media (min-width: $screen-md) {
      box-shadow: $shadow;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      height: 100%;
    }
  }

  &__top {
    padding: 20px 0 15px;

    @media (min-width: $screen-sm) {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-xl) {
      flex: 0 0 100%;
      max-width: 400px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__slide {
    width: 100%;
    overflow: hidden;

    img {
      // display: block;
      @include object-fit(cover);
    }
  }

  &__thumbs {
    padding: 0 40px 20px;

    @media (min-width: $screen-md) {
      padding-left: 140px;
      padding-right: 140px;
    }

    @media (min-width: $screen-xl) {
      width: 100%;
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  &__next,
  &__prev {
    display: block;
    content: "";
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(calc(-50% - 10px));
    width: 19px;
    height: 30px;
    padding: 5px;
    background-repeat: no-repeat !important;
    background-size: 9px 20px;
    background-position: center !important;

    &[aria-disabled=true] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__next {
    right: 0;
    background: svg-load('../blocks/prod-slider/bg-img/right-arrow-icon.svg', fill=$text-muted);

    &:hover,
    &:focus {
      background: svg-load('../blocks/prod-slider/bg-img/right-arrow-icon.svg', fill=$main-color);
    }

    @media (min-width: $screen-md) {
      right: 140px;
    }

    @media (min-width: $screen-xl) {
      right: 40px;
    }
  }

  &__prev {
    left: 0;
    background: svg-load('../blocks/prod-slider/bg-img/left-arrow-icon.svg', fill=$text-muted);

    &:hover,
    &:focus {
      background: svg-load('../blocks/prod-slider/bg-img/left-arrow-icon.svg', fill=$main-color);
    }

    @media (min-width: $screen-md) {
      left: 140px;
    }

    @media (min-width: $screen-xl) {
      left: 40px;
    }
  }

  &__thumbs-slide {
    cursor: pointer;
    opacity: 0.5;

    img {
      display: block;
      max-width: 50px;
    }

    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  &__text {
    padding: 20px 0;

    @media (min-width: $screen-md) {
      padding-bottom: 0;
      box-shadow: $shadow;
    }

    @media (min-width: $screen-xl) {
      height: 100%;
    }

    .row {
      height: 100%;
    }
  }

  &__title-wrapper {
    border-bottom: 2px solid $border-light;

    @media (min-width: $screen-md) {
      padding: 0 15px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 20px;
    }
  }

  &__title {
    margin: 0;
  }

  &__media {
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-top: 15px;
      padding-bottom: 20px;
      padding-left: 15px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      padding-left: 20px;
    }

    .embed-responsive {

      @media (min-width: $screen-md) {
        margin-top: 20px;
      }
    }
  }

  &__color {
    position: relative;
    padding: 15px 0 5px;
    border-bottom: 2px solid $border-light;

    @media (min-width: $screen-md) {
      padding-top: 0;
    }
  }

  &__color-title {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
  }

  &__group {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__color-name {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    padding-left: 18px;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;

    &:hover {

      &::before {
        border-color: $white;
        box-shadow: 0 0 0 2px $main-color;
      }
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 2px solid currentColor;
      background-color: currentColor;
      border-radius: $border-radius;
    }

    &--selected {

      &::before {
        border-color: $white;
        box-shadow: 0 0 0 2px $main-color;
      }
    }
  }

  &__color-input {
    position: absolute;
    visibility: hidden;
    appearance: none;
  }

  &__color-text {
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 0;
    font-size: inherit;
    line-height: 1.2em;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s linear;
  }

  @at-root input:checked + #{$block-name}__color-text {
    width: auto;
    height: auto;
    margin-left: 10px;
    color: $text-color;
    opacity: 1;
  }

  &__producer {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    margin: 0 0 20px;
    border-bottom: 2px solid $border-light;

    @media (min-width: $screen-md) {
      margin-bottom: auto;
    }
  }

  &__producer-name {
    margin-right: 10px;
  }

  &__producer-value {

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 60px;
      max-height: 50px;
    }
  }

  &__producer-link {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 20px;
  }

  &__cart {
    height: 100%;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-between;

      padding-top: 15px;
      padding-bottom: 20px;
      border-left: 2px solid $border-light;
    }

    @media (min-width: $screen-xl) {

    }

    & > * {
      width: 100%;
    }
  }

  &__rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 20px;

    .star-rating-marks {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      padding: 0 15px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 20px;
    }
  }

  &__review-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    line-height: 1;
    font-weight: 700;

    span {
      color: $main-color;
    }
  }

  &__availability {
    width: 100%;
    margin-top: 10px;
    font-weight: 700;
    color: $main-color;
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-family--headings;

    @media (min-width: $screen-md) {
      padding: 0 15px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 20px;
    }
  }

  &__old-price {
    font-size: 16px;
    text-decoration: line-through;
    color: $text-muted;

    @media (min-width: $screen-md) {
      font-size: 22px;
    }
  }

  &__new-price {
    font-size: 24px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 32px;
    }
  }

  &__controls {
    padding: 0 20px;

    button {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-md) {
      padding: 0 15px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 20px;
    }
  }

  &__favorit-btn {

    &:hover,
    &:focus {
      color: $color-danger;
    }
  }

  &__compare-btn {

  }

  &__cart-btn {
    color: $white;
    background-color: $color-success;

    &:hover,
    &:focus {
      color: $white;
      background-color: darken($color-success, 10%);
    }
  }
}
