<!--DEV

@ @include('blocks/sf-menu/sf-menu.html')

-->

<ul id="sf-menu" class="sf-menu  sf-vertical" id="catalog-sf-menu">

  <li class="current  sf-vertical__item">
    <a class="sf-vertical__item-link" href="#">Кардио-тренажеры</a>
    <ul class="sf-vertical__catalog-list">
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Беговые дорожки</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Дорожки для ходьбы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Эллиптические тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Гребные тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Адаптивные тренажёры AMT</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Велотренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Степперы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Сайклы</a>
      </li>
    </ul>
  </li>

  <li class="current  sf-vertical__item">
    <a class="sf-vertical__item-link" href="#">Кардио-тренажеры</a>
    <ul class="sf-vertical__catalog-list">
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Беговые дорожки</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Дорожки для ходьбы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Эллиптические тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Гребные тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Адаптивные тренажёры AMT</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Велотренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Степперы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Сайклы</a>
      </li>
    </ul>
  </li>

  <li class="current  sf-vertical__item">
    <a class="sf-vertical__item-link" href="#">Кардио-тренажеры</a>
    <ul class="sf-vertical__catalog-list">
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Беговые дорожки</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Дорожки для ходьбы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Эллиптические тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Гребные тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Адаптивные тренажёры AMT</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Велотренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Степперы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Сайклы</a>
      </li>
    </ul>
  </li>

  <li class="current  sf-vertical__item">
    <a class="sf-vertical__item-link" href="#">Кардио-тренажеры</a>
    <ul class="sf-vertical__catalog-list">
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Беговые дорожки</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Дорожки для ходьбы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Эллиптические тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Гребные тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Адаптивные тренажёры AMT</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Велотренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Степперы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Сайклы</a>
      </li>
    </ul>
  </li>

  <li class="current  sf-vertical__item">
    <a class="sf-vertical__item-link" href="#">Кардио-тренажеры</a>
    <ul class="sf-vertical__catalog-list">
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Беговые дорожки</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Дорожки для ходьбы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Эллиптические тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Гребные тренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Адаптивные тренажёры AMT</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Велотренажёры</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Степперы</a>
      </li>
      <li class="sf-vertical__catalog-item">
        <a class="sf-vertical__catalog-link" href="#">Сайклы</a>
      </li>
    </ul>
  </li>

</ul>
