.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(9 / 16); // по умолчанию ожидается вставка в формате 16/9
  }

  // embed,
  // object,
  img,
  iframe,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }



  &--4-3 { // модификатор на случай вставки 4/3

    &::before {
      padding-top: percentage(3 / 4);
    }
  }

  &--3-2 { // модификатор на случай вставки 3/2

    &::before {
      padding-top: percentage(2 / 3);
    }
  }

  &--1-1 { // модификатор на случай вставки 1/1 или другими словами квадрат

    &::before {
      padding-top: 100%;
    }
  }
}
