
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  //font-size: 15px;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

// Мы любим Edge, это браузер! (почти)
svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  color: currentColor;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &:visited {
    //color: $link-color--hover;
  }

  // На больших экранах телефоны-ссылки делаем обычным текстом (если надо)
  &[href^="tel:"] {

    /* @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    } */
  }
}

// BS4 Хелперы для BS4 табов и т.п.
.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.list-nostyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* Кастомизируем выделение текста на сайте */
*:not(img)::selection {
  color: $white;
  background-color: $main-color; /* Safari, Chrome, Opera */
}

*:not(img)::-moz-selection {
  color: $white;
  background-color: $main-color; /* FireFox */
}

.container {
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: none;

  @media (min-width: $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $screen-xl) {
    $padding-min: 40px; // нужный отступ от краев экрана
    $half-screen-xl: $screen-xl / 2 - $padding-min;
    // padding: 1em calc(50% - 600px); //600px - это $screen-xl / 2 - нужный отступ от края экрана
    padding-left: calc(50% - #{$half-screen-xl});
    padding-right: calc(50% - #{$half-screen-xl});
  }

  &--bg-top {
    background-image: linear-gradient(to bottom, $main-color, $main-color 175px, rgba(255, 255, 255, 0) 175px, rgba(255, 255, 255, 0));
  }
}

// Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
// @include row($grid-gutter-width, 10px, 12px, 16px, 20px, 26px);
.row {
  @include row(
    $xs-grid-gutter:  30px,
    $sm-grid-gutter:  30px,
    $md-grid-gutter:  $grid-gutter-width,
    $lg-grid-gutter:  $grid-gutter-width,
    $xl-grid-gutter:  $grid-gutter-width,
    $xxl-grid-gutter: $grid-gutter-width
  );
}

.col-1-2-2-2 {
  @include col(xs, 12, $grid-columns, 30px);
  @include col(md, 6);
  margin-bottom: 20px;
}

.col-1-2-3-4 {
  @include col(xs, 12, $grid-columns, 30px);
  @include col(md, 6);
  @include col(lg, 4);
  @include col(xl, 3);
  margin-bottom: 20px;
}

.col-1-2-3 {
  @include col(xs, 12, $grid-columns, 30px);
  @include col(md, 6);
  // @include col(lg, 3);
  @include col(xl, 4);
  margin-bottom: 20px;
}

.col-cheaper-left {
  @include col(xs, 12, $grid-columns, 30px);
  @include col(md, 6);
  @include col(xl, 8);
  margin-bottom: 15px;

  @media (min-width: $screen-lg) {
    padding-right: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $screen-xl) {
    padding-right: 20px;
    margin-bottom: 0;
  }

  .row {

    @media (min-width: $screen-xl) {
      height: 100%;
    }
  }
}

.col-cheaper-right {
  @include col(xs, 12, $grid-columns, 30px);
  @include col(md, 6);
  @include col(xl, 4);
  position: relative;

  &::after {

    @media (min-width: $screen-md) {
      display: block;
      content: "";
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 2px;
      height: 100%;
      background-color: $border-light;
    }
  }

}

.col-cheaper-inner {
  @include col(xs, 12, $grid-columns, 30px);
  @include col(md, 12);
  @include col(xl, 6);

  @media (min-width: $screen-xl) {
    height: 100%;
  }
}

/* &__element {
  @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
  @include col(sm, 6, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
  @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
  @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
  @include col(xl, 2, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
  @include col(xxl, 1, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
} */


// background: svg-load('../blocks/phones-modal/bg-img/phone.svg', fill=$main-color, stroke=rgba(255, 255, 255, 0));

.prod-code {
  display: block;
  //vertical-align: baseline;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: $text-muted;
}

.label-top-left {
  position: absolute;
  left: 0;
  top: 20px;
  display: block;
  padding: 5px 15px 6px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  background-color: $main-color;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  pointer-events: none;
}

.publishedon {
  font-size: 1em;
  color: $text-muted;
}

.embed-responsive {

  img {
    object-fit: contain;
    object-position: center;
  }
}

.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

.main-content {
  position: relative;
  padding-bottom: 20px;

  @media (min-width: $screen-md) {
    padding-bottom: 40px;
  }

  &--overlayed {

    &::before {
      display: block;
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.5;
    }
  }
}

// Swiper

.swiper-button-prev,
.swiper-button-next {
  display: block;
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(calc(-50% - 10px));
  width: 19px;
  height: 30px;
  padding: 5px;
  background-repeat: no-repeat !important;
  background-size: 9px 20px;
  background-position: center !important;
  cursor: pointer;

  // &[aria-disabled=true] {
  //   opacity: 0.5;
  //   pointer-events: none;
  // }
}

.swiper-button-prev {
  left: 0;
  background: svg-load('../blocks/prod-slider/bg-img/left-arrow-icon.svg', fill=$text-muted);

  &:hover,
  &:focus {
    background: svg-load('../blocks/prod-slider/bg-img/left-arrow-icon.svg', fill=$main-color);
  }
}

.swiper-button-next {
  right: 0;
  background: svg-load('../blocks/prod-slider/bg-img/right-arrow-icon.svg', fill=$text-muted);

  &:hover,
  &:focus {
    background: svg-load('../blocks/prod-slider/bg-img/right-arrow-icon.svg', fill=$main-color);
  }
}
