<!--DEV

@ @include('blocks/article-card/article-card.html')

-->

<article class="article-card">
  <a href="#" class="embed-responsive  embed-responsive--4-3  article-card__img">
    <picture>
      <source srcset="img/article-card-img-1.webp" media="(min-width: 992px)" type="image/webp">
      <source srcset="img/article-card-img-1.jpg" media="(min-width: 992px)">
      <!-- 390x292 -->
      <source srcset="img/article-card-img-1.webp" media="(min-width: 768px)" type="image/webp">
      <source srcset="img/article-card-img-1.jpg" media="(min-width: 768px)">
      <!-- 465x349 -->
      <source srcset="img/article-card-img-1.webp" media="(min-width: 480px)" type="image/webp">
      <source srcset="img/article-card-img-1.jpg" media="(min-width: 480px)">
      <!-- 570x427 -->
      <source srcset="img/article-card-img-1.webp" type="image/webp">
      <img src="img/article-card-img-1.jpg" alt="Заголовок статьи" width="450" height="337">
    </picture>
  </a>
  <div class="article-card__text">
    <div class="publishedon">23 Cентября / 2019</div>
    <h4 class="article-card__title">
      <a href="#" class="article-card__link">Новое пополнение товара! Технологическая дорожка для ходьбы</a>
    </h4>
  </div>
  <span class="label-top-left">Новости</span>
</article>
