<!--DEV
@ @include('blocks/pagination/pagination.html')


<div class="pagination" aria-label="Постраничная навигация" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination">
  <ol class="pagination__list" >

    <li class="pagination__item">
      <a class="btn  btn--icon  btn--icon--disabled" aria-label="Предыдущая страница" itemprop="relatedLink/pagination">
        <svg width="13" height="15" role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#left-arrow"></use>
        </svg>
      </a>
    </li>

    <li class="pagination__item  active">
      <a class="btn  btn--crumbs  pagination__link" itemprop="relatedLink/pagination">1</a>
    </li>

    <li class="pagination__item">
      <a href="#" class="btn  btn--crumbs  pagination__link" itemprop="relatedLink/pagination">2</a>
    </li>

    <li class="pagination__item">
      <a href="#" class="btn  btn--crumbs  pagination__link" itemprop="relatedLink/pagination">3</a>
    </li>

    <li class="pagination__item">
      <a href="#" class="btn  btn--icon" aria-label="Следующая страница" itemprop="relatedLink/pagination">
        <svg width="13" height="15" role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#right-arrow"></use>
        </svg>
      </a>
    </li>

  </ol>
</div>
-->

