.page-header {
  background-color: $white;

  $block-name:                &; // #{$block-name}__element

  .field-search__form {

  }

  .field-search__input {
    transition: all 0.25s ease-out;

    &:focus {
      position: absolute;
      z-index: 10;
      width: calc(100% - 28px);
      left: 14px;
      right: 14px;
      border-right: 4px solid $main-color;
    }
  }

  &__top {
    box-shadow: $shadow;

    @media (min-width: $screen-xl) {
      padding: 11px 0;
    }
  }

  &__logo-col {
    @include col(xs, 6, $grid-columns, 30px);
    @include col(md, 5);
    @include col(xl, 3);
    // @include col(md, 6);
    display: flex;
    align-items: center;
  }

  &__nav-col {
    @include col(xs, 6, $grid-columns, 30px);
    @include col(md, 7);
    @include col(xl, 9);
    padding-left: 15px;
    background-image: linear-gradient(to right, $white, $white 75%, $main-color 75%);

    @media (min-width: $screen-md) {
      background-image: none;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .burger {

      @media (min-width: $screen-md) {
        max-width: 64px;
        padding: 10px 20px;
      }

      @media (min-width: $screen-xl) {
        display: none;
      }
    }
  }

  &__bottom {
    position: relative;
    border-bottom: 1px solid $border-light; //$border-light
  }

  &__bottom-dropdown-col {
    display: none;
    @include col(xl, 3);

    @media (min-width: $screen-xl) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropdown,
    .dropdown-toggle,
    .dropdown-menu {
      width: 100%;
    }

    .dropdown-toggle {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 7px 15px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2em;
      background: linear-gradient(102.64deg, #5464F0 0%, #5499F0 100%), #5499F0;
      border-radius: $border-radius;
      border: 2px solid $white;

      &::after {
        display: none;
      }

      &:hover,
      &:focus {
        color: $main-color;
        background: $white;
        box-shadow: $shadow;
        border-color: $main-color;
      }

      svg {
        display: block;
        margin-right: auto;
      }

      span {
        margin-right: auto;
      }
    }

    .dropdown-menu {
      border: none;
      box-shadow: $shadow;
    }
  }

  &__bottom-search-col {
    @include col(xs, 6, $grid-columns, 30px);
    @include col(md, 5);
    @include col(xl, 4);
  }

  &__bottom-shop-col {
    @include col(xs, 6, $grid-columns, 30px);
    @include col(md, 7);
    @include col(xl, 5);
    padding-left: 0;
  }

  &__bottom-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px 0;
  }

  &__compare,
  &__favorite {
    margin-right: 9px;

    @media (min-width: $screen-sm) {
      margin-right: 20px;
    }

    span {
      display: none;

      @media (min-width: $screen-xl) {
        display: block;
        margin-left: 20px;
      }
    }
  }

  &__compare,
  &__favorite,
  &__cart {
    position: relative;
    padding: 5px;

    &::after {
      display: inline-block;
      vertical-align: top;
      content: attr(data-num);
      position: absolute;
      top: 3px;
      left: 20px;
      // min-width: 5px;
      // min-height: 5px;
      padding: 2.5px 5px;
      font-family: inherit;
      font-size: 10px;
      line-height: 1;
      color: $white;
      background-color: $main-color;
      border: 2px solid $white;
      border-radius: $border-radius;
    }
  }

  &__compare {

  }

  &__favorite {

    &::after {
      background-color: $color-danger;
    }

    &:hover,
    &:focus {
      color: $color-danger;
    }
  }

  &__cart {

  }

  &__cart-inner {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-item: flex-end;
      margin-left: 25px;
    }
  }

  &__cart-title {

    @media (min-width: $screen-md) {
      //width: 100%;
      font-size: 10px;
      text-align: left;
    }
  }

  &__cart-price {
    @media (min-width: $screen-md) {
      //width: 100%;
      font-size: 14px;
      font-weight: 700;
      text-align: left;
    }
  }
}
