<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/prod-card-simple/prod-card-simple.html')
-->

<article class="prod-card-simple" tabindex="0">
  <div class="row">

    <div class="prod-card-simple__col">

      <a href="#" class="embed-responsive  embed-responsive--1-1  prod-card-simple__img" title="Товар">
        <picture>
          <source srcset="img/prod-card-simple-1.webp" media="(min-width: 1280px)" type="image/webp">
          <source srcset="img/prod-card-simple-1.jpg" media="(min-width: 1280px)">
          <!-- 175x175 -->
          <source srcset="img/prod-card-simple-1.webp" media="(min-width: 992px)" type="image/webp">
          <source srcset="img/prod-card-simple-1.jpg" media="(min-width: 992px)">
          <!-- 285x285 -->
          <source srcset="img/prod-card-simple-1.webp" media="(min-width: 768px)" type="image/webp">
          <source srcset="img/prod-card-simple-1.jpg" media="(min-width: 768px)">
          <!-- 210x210 -->
          <source srcset="img/prod-card-simple-1.webp" media="(min-width: 480px)" type="image/webp">
          <source srcset="img/prod-card-simple-1.jpg" media="(min-width: 480px)">
          <!-- 270x270 -->
          <source srcset="img/prod-card-simple-1.webp" type="image/webp">
          <img src="img/prod-card-simple-1.jpg" alt="Фото Товара" width="210" height="210">
        </picture>
      </a>

    </div>

    <div class="prod-card-simple__col">
      <div class="prod-card-simple__text">
        <h3 class="h4  prod-card-simple__title  clamp_l">
          <a href="#" class="">Polar M200 optical HR белый с металлической застежкой</a>
        </h3>
        <span class="prod-code">Арт: 052 424 425 2567</span>
        <div class="prod-card-simple__price-block">
          <span class="prod-card-simple__price-old">8 456</span>
          <span class="prod-card-simple__price-new">7 456<sup>грн.</sup></span>
        </div>
      </div>
    </div>

    <div class="prod-card-simple__controls">
      <button class="btn  btn--icon  prod-card-simple__compare" type="button" title="Добавить к сравнению">
        <svg width="24" height="24" role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#compare-icon"></use>
        </svg>
      </button>
      <button class="btn  btn--icon  prod-card-simple__favorite" type="button" title="Добавить в избранное">
        <svg width="26" height="24" role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#favorite-icon"></use>
        </svg>
      </button>
      <button class="btn  btn--icon  btn--cart" type="button" title="Добавить в корзину">
        <svg width="24" height="24" role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#cart-icon"></use>
        </svg>
      </button>
    </div>

  </div>
</article>
