<!--DEV

@ @include('blocks/catalog-card/catalog-card.html')

-->

<a href="#" class="catalog-card" aria-labelledby="catalog-card-item">
  <div class="embed-responsive  embed-responsive--4-3  catalog-card__img">
    <picture>
      <source data-srcset="img/catalog-img-1.webp" media="(min-width: 1280px)" type="image/webp">
      <source data-srcset="img/catalog-img-1.jpg" media="(min-width: 1280px)">
      <!-- 285x214 -->
      <source data-srcset="img/catalog-img-1.webp" media="(min-width: 992px)" type="image/webp">
      <source data-srcset="img/catalog-img-1.jpg" media="(min-width: 992px)">
      <!-- 400x300 -->
      <source data-srcset="img/catalog-img-1.webp" media="(min-width: 768px)" type="image/webp">
      <source data-srcset="img/catalog-img-1.jpg" media="(min-width: 768px)">
      <!-- 465x349 -->
      <source data-srcset="img/catalog-img-1.webp" media="(min-width: 480px)" type="image/webp">
      <source data-srcset="img/catalog-img-1.jpg" media="(min-width: 480px)">
      <!-- 570x427 -->
      <source data-srcset="img/catalog-img-1.webp" type="image/webp">
      <img class="b-lazy" data-src="img/catalog-img-1.jpg" alt="Заголовок Каталога" width="450" height="337">
    </picture>
  </div>
  <h4 id="catalog-card-item" class="catalog-card__title">Коврики гимнастические</h4>
</a>
