<!--DEV

@ @include('blocks/instagram-block/instagram-block.html')
-->

<section class="instagram-block">
  <h2 class="visually-hidden">Наша продукция в Instagram</h2>

  <p class="h5  instagram-block__descr">Позначте свої фотографії за допомогою хештегу <span class="instagram-block__hash">#LiveInFitnessDom</span> та покажіть світу себе.&emsp;Наша Instagram сторінка — <a href="https://www.instagram.com/fitnessdom.com.ua" target="_blank" rel="nofollow noopener">@fitnessdom.com.ua</a></p>

  <div class="row">

    <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name">
        <picture>
          <source srcset="img/insta-thumb-1.webp" media="(min-width: 1280px)" type="image/webp">
          <source srcset="img/insta-thumb-1.jpg" media="(min-width: 1280px)">
          <!-- 185x185 -->
          <source srcset="img/insta-thumb-1.webp" media="(min-width: 992px)" type="image/webp">
          <source srcset="img/insta-thumb-1.jpg" media="(min-width: 992px)">
          <!-- 295x295 -->
          <source srcset="img/insta-thumb-1.webp" media="(min-width: 768px)" type="image/webp">
          <source srcset="img/insta-thumb-1.jpg" media="(min-width: 768px)">
          <!-- 225x225 -->
          <source srcset="img/insta-thumb-1.webp" media="(min-width: 480px)" type="image/webp">
          <source srcset="img/insta-thumb-1.jpg" media="(min-width: 480px)">
          <!-- 275x275 -->
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись" width="215" height="215">
        </picture>
      </a>
    </div>

    <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name 2">
        <picture>
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись">
        </picture>
      </a>
    </div>

    <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name 3">
        <picture>
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись">
        </picture>
      </a>
    </div>

    <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name 4">
        <picture>
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись">
        </picture>
      </a>
    </div>

    <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name 5">
        <picture>
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись">
        </picture>
      </a>
    </div>

    <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name 6">
        <picture>
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись">
        </picture>
      </a>
    </div>

    <!-- <div class="instagram-block__col">
      <a href="#" class="embed-responsive  embed-responsive--1-1  instagram-block__img" title="Заголовок" data-title="@insta-name 7">
        <picture>
          <source srcset="img/insta-thumb-1.webp" type="image/webp">
          <img src="img/insta-thumb-1.jpg" alt="Подпись">
        </picture>
      </a>
    </div> -->

    <div class="instagram-block__col  instagram-block__col--double">
      <a href="#" class="instagram-block__link">
        <span class="h4  instagram-block__text">Просмотреть<br>все новые фото</span>
      </a>
    </div>

  </div>

</section>
