.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: $font-family--headings;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $white;
  border-radius: $border-radius;
  border: none;
  background-color: $main-color;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: darken($main-color, 10%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $icon-color;
    border-color: $icon-color;
    pointer-events: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    min-height: 42px;
    padding: 18px 18px;
    color: $text-color;
    background-color: $white;
    box-shadow: none;
    border: none;

    &:hover,
    &:focus {
      color: $main-color;
      background-color: $white;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: currentColor;
    }
  }

  &--text-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 42px;
    min-height: 42px;
    padding: 15px 15px 15px 40px;
    color: $text-color;
    background-color: $white;
    box-shadow: none;
    border: none;

    &:hover,
    &:focus {
      color: $main-color;
      background-color: $white;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      fill: currentColor;
    }
  }

  &--cart {
    color: $color-success;
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &:hover,
    &:focus {
      outline: none;
      color: $white;
      background-color: $color-success;
    }

    svg {
      // width: 32px;
      // height: 32px;
    }
  }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
