<!--DEV

@ @include('blocks/mobile-nav/mobile-nav.html')

-->

<nav id="mobile-nav" class="mobile-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/work">Our work</a></li>
    <li><span>About us</span>
      <ul>
        <li><a href="/about/history">History</a></li>
        <li><span>The team</span>
          <ul>
            <li><a href="/about/team/management">Management</a></li>
            <li><a href="/about/team/sales">Sales</a></li>
            <li><a href="/about/team/development">Development</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><span>Services</span>
      <ul>
        <li><a href="/services/design">Design</a></li>
        <li><a href="/services/development">Development</a></li>
        <li><a href="/services/marketing">Marketing</a></li>
      </ul>
    </li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
