<!--DEV

@ @include('blocks/prod-specification/prode-specification.html')

-->

<section class="prod-specification">

  <div class="swiper-container  prod-specification__container">

    <div class="swiper-pagination  prod-specification__pagination"></div>

    <div class="swiper-wrapper">

      <div class="swiper-slide  prod-specification__slide" data-hash="about-product" data-title="О товаре">

        <div class="row">

          <div class="prod-specification__col-left">
            <dl class="prod-specification__list">
              <h4 class="h2  prod-specification__title">Характеристики</h4>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">Длина (см):</dt>
                <dd class="prod-specification__value">177,5</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">Ширина (см):</dt>
                <dd class="prod-specification__value">83,3</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">Высота (см):</dt>
                <dd class="prod-specification__value">162,6</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">Вес (кг):</dt>
                <dd class="prod-specification__value">127</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">Максимальный вес пользователя (кг):</dt>
                <dd class="prod-specification__value">177,5</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">м<sup>3</sup> в поддоне:</dt>
                <dd class="prod-specification__value">1,8</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">шт в поддоне:</dt>
                <dd class="prod-specification__value">40</dd>
              </div>
              <div class="prod-specification__list-inner">
                <dt class="prod-specification__name">Площадь в м<sup>2</sup>:</dt>
                <dd class="prod-specification__value">20</dd>
              </div>
            </dl>
          </div>

          <div class="prod-specification__col-right">
            <article class="prod-specification__description">
              <h4 class="h2  prod-specification__title">Описание</h4>
              <h5>Эффективность</h5>
              <p>Бег на AirRunner сжигает на 30% больше калорий, чем тренировка на беговых дорожках с мотором. Вы сами являетесь мотором, поэтому именно вы выполняете 100% работы. Благодаря информативному дисплею вы сможете легко поддержать свою мотивацию, наблюдая, как сгорают лишние калории.</p>
              <h5>Интенсивность</h5>
              <p>Как и все продукты Assault Fitness беговая дорожка была создана для высокоинтенсивных интервальных тренировок (HIIT): скорость бега меняется молниеносно, при этом максимальная скорость попросту отсутствует. Дорожка необычайно легкая, что позволяет запросто реорганизовать тренировочное пространство под любые нужды.</p>
              <h5>Качество</h5>
              <p>Разработчики AirRunner конструировали тренажер, помня об интенсивности. В производстве использовались части, которые выдержат тяжелые коммерческие условия эксплуатации: стальная рама и поручни, устойчивые к коррозии соединения, беговое полотно, которое выдерживает 150 000 миль пробега!</p>
              <h5>Экономия</h5>
              <p>Расходы на эксплуатацию дорожки Assault гораздо ниже моторизированных аналогов. В AirRunner отсутствует двигатель, а значит, и затраты на электроэнергию. Кроме того стоимость сервисного обслуживания значительно ниже, так как нет необходимости в натяжении ремней, смазке, частой замене полотна или колодок.</p>
            </article>
          </div>

        </div>

      </div>

      <div class="swiper-slide  prod-specification__slide  prod-specification__slide--article" data-hash="docs"  data-title="Документы и инструкции">
        <article class="prod-specification__description">
          <h4 class="h2  prod-specification__title">Описание</h4>
          <h5>Эффективность</h5>
          <p>Бег на AirRunner сжигает на 30% больше калорий, чем тренировка на беговых дорожках с мотором. Вы сами являетесь мотором, поэтому именно вы выполняете 100% работы. Благодаря информативному дисплею вы сможете легко поддержать свою мотивацию, наблюдая, как сгорают лишние калории.</p>
          <h5>Интенсивность</h5>
          <p>Как и все продукты Assault Fitness беговая дорожка была создана для высокоинтенсивных интервальных тренировок (HIIT): скорость бега меняется молниеносно, при этом максимальная скорость попросту отсутствует. Дорожка необычайно легкая, что позволяет запросто реорганизовать тренировочное пространство под любые нужды.</p>
          <h5>Качество</h5>
          <p>Разработчики AirRunner конструировали тренажер, помня об интенсивности. В производстве использовались части, которые выдержат тяжелые коммерческие условия эксплуатации: стальная рама и поручни, устойчивые к коррозии соединения, беговое полотно, которое выдерживает 150 000 миль пробега!</p>
          <h5>Экономия</h5>
          <p>Расходы на эксплуатацию дорожки Assault гораздо ниже моторизированных аналогов. В AirRunner отсутствует двигатель, а значит, и затраты на электроэнергию. Кроме того стоимость сервисного обслуживания значительно ниже, так как нет необходимости в натяжении ремней, смазке, частой замене полотна или колодок.</p>
        </article>
      </div>

      <div class="swiper-slide  prod-specification__slide  prod-specification__slide--article" data-hash="delivery" data-title="Доставка и оплата">
        <article class="prod-specification__description">
          <h4 class="h2  prod-specification__title">Описание</h4>
          <h5>Эффективность</h5>
          <p>Бег на AirRunner сжигает на 30% больше калорий, чем тренировка на беговых дорожках с мотором. Вы сами являетесь мотором, поэтому именно вы выполняете 100% работы. Благодаря информативному дисплею вы сможете легко поддержать свою мотивацию, наблюдая, как сгорают лишние калории.</p>
          <h5>Интенсивность</h5>
          <p>Как и все продукты Assault Fitness беговая дорожка была создана для высокоинтенсивных интервальных тренировок (HIIT): скорость бега меняется молниеносно, при этом максимальная скорость попросту отсутствует. Дорожка необычайно легкая, что позволяет запросто реорганизовать тренировочное пространство под любые нужды.</p>
          <h5>Качество</h5>
          <p>Разработчики AirRunner конструировали тренажер, помня об интенсивности. В производстве использовались части, которые выдержат тяжелые коммерческие условия эксплуатации: стальная рама и поручни, устойчивые к коррозии соединения, беговое полотно, которое выдерживает 150 000 миль пробега!</p>
          <h5>Экономия</h5>
          <p>Расходы на эксплуатацию дорожки Assault гораздо ниже моторизированных аналогов. В AirRunner отсутствует двигатель, а значит, и затраты на электроэнергию. Кроме того стоимость сервисного обслуживания значительно ниже, так как нет необходимости в натяжении ремней, смазке, частой замене полотна или колодок.</p>
        </article>
      </div>

      <div class="swiper-slide  prod-specification__slide  prod-specification__slide--article" data-hash="warranty" data-title="Гарантия">
        <article class="prod-specification__description">
          <h4 class="h2  prod-specification__title">Описание</h4>
          <h5>Эффективность</h5>
          <p>Бег на AirRunner сжигает на 30% больше калорий, чем тренировка на беговых дорожках с мотором. Вы сами являетесь мотором, поэтому именно вы выполняете 100% работы. Благодаря информативному дисплею вы сможете легко поддержать свою мотивацию, наблюдая, как сгорают лишние калории.</p>
          <h5>Интенсивность</h5>
          <p>Как и все продукты Assault Fitness беговая дорожка была создана для высокоинтенсивных интервальных тренировок (HIIT): скорость бега меняется молниеносно, при этом максимальная скорость попросту отсутствует. Дорожка необычайно легкая, что позволяет запросто реорганизовать тренировочное пространство под любые нужды.</p>
          <h5>Качество</h5>
          <p>Разработчики AirRunner конструировали тренажер, помня об интенсивности. В производстве использовались части, которые выдержат тяжелые коммерческие условия эксплуатации: стальная рама и поручни, устойчивые к коррозии соединения, беговое полотно, которое выдерживает 150 000 миль пробега!</p>
          <h5>Экономия</h5>
          <p>Расходы на эксплуатацию дорожки Assault гораздо ниже моторизированных аналогов. В AirRunner отсутствует двигатель, а значит, и затраты на электроэнергию. Кроме того стоимость сервисного обслуживания значительно ниже, так как нет необходимости в натяжении ремней, смазке, частой замене полотна или колодок.</p>
        </article>
      </div>
    </div>


  </div>

</section>
