.prod-specification {
  position: relative;
  padding: 20px 0;

  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    background-color: $white;
    box-shadow: $shadow;

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-xl) {
      box-shadow: none;
    }
  }

  @media (min-width: $screen-md) {
    padding: 20px;
    background-color: $white;
    box-shadow: $shadow;
  }

  @media (min-width: $screen-xl) {
    padding: 20px 40px;
  }

  $block-name:                &; // #{$block-name}__element

  .swiper-pagination {
    position: static;
    span {}
  }

  .swiper-pagination-bullet {
    position: relative;
    min-height: 32px;
    width: auto;
    padding: 7px 10px 6px;
    margin-left: 0 !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
    opacity: 1;
    font-family: $font-family--headings;
    font-size: 12px;
    font-weight: 700;
    color: $text-color;
    border-radius: $border-radius;
    background-color: $border-light;

    &:hover,
    &:focus {

      @media (min-width: $screen-md) {
        color: $main-color;
      }
    }

    &::before {

      @media (min-width: $screen-md) {
        display: block;
        content: "";
        position: absolute;
        z-index: 1;
        top: -20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
      }
    }

    @media (min-width: $screen-sm) {
      font-size: 14px;
    }

    @media (min-width: $screen-md) {
      padding: 0;
      margin-right: 20px !important;
      font-size: 16px;
      color: $text-color;
      border-radius: 0;
      background-color: $white;
    }

    @media (min-width: $screen-xl) {
      margin-right: 40px !important;
      font-size: 18px;
    }
  }

  .swiper-pagination-bullet-active {
    color: $white;
    background-color: $main-color;

    &::before {

      @media (min-width: $screen-md) {
        background-color: $main-color;
      }
    }

    @media (min-width: $screen-md) {
      color: $main-color;
      background-color: $white;
      outline: none;
    }
  }

  &__pagination {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;

    @media (min-width: $screen-xl) {
      margin-bottom: 10px;
    }
  }

  &__container {

    @media (min-width: $screen-md) {
      position: relative;
      padding-top: 20px;
      // border-top: 2px solid $border-light;
    }
  }

  &__slide {
    box-sizing: border-box;
    background-color: $white;

    &--article {

      @media (min-width: $screen-md) {
        columns: 2 auto;
        column-gap: 20px;
      }
    }
  }

  &__col-left {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 4);
    margin-bottom: 30px;
  }

  &__col-right {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 8);
  }

  &__list {
    margin: 0;
  }

  &__title {
    margin-top: 0;
  }

  &__list-inner {
    display: flex;
    flex-wrap: wrap;
    justify-cintent: flex-start;
    align-items: baseline;
    padding: 10px 0;
    border-bottom: 2px solid $border-light;
  }

  &__name {
    flex-basis: 65%;
    margin-right: 20px;
    font-weight: 700;
  }

  &__value {
    flex: 1 1;
  }

  &__description {

    *:last-child {
      margin-bottom: 0;
    }
  }
}
