<!--DEV

@ @include('blocks/page-footer/page-footer.html')

-->

<footer class="page-footer" role="contentinfo">

  <div class="container  container--bg">

    <div class="row">

      <div class="page-footer__menu-col">

        <section class="page-footer__menu">
          <h2 class="h4  page-footer__title">Информация и помощь</h2>
          <ul class="page-footer__menu-list">
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Магазины</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Сервисный центр</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Обмен и возврат товара</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">О магазине</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Новости</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Акции</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Сотрудничество</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Оплата и доставка</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Вопросы-ответы</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Лучшие товары</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Контакты</a>
            </li>
            <li class="page-footer__menu-item">
              <a href="#" class="page-footer__menu-link">Вакансии</a>
            </li>
          </ul>
        </section>

      </div>

      <div class="page-footer__contacts-col">
        <section class="page-footer__contacts" itemscope itemtype="http://schema.org/Organization">
          <meta itemprop="name" content="FitnessDom — магазин товаров для спорта и фитнеса">
          <h2 class="visually-hidden">Контактная информация</h2>

          <div class="row  page-footer__contacts-inner">

            <div class="page-footer__tel">
              <h2 class="h4  page-footer__title">Наши телефоны</h2>
              <ol class="page-footer__tel-list">
                <li class="page-footer__tel-item">
                  <a href="tel:380445016001" class="page-footer__tel-link" itemprop="telephone">+38 (044) 501 60 01</a>
                </li>
                <li class="page-footer__tel-item">
                  <a href="tel:380445016001" class="page-footer__tel-link" itemprop="telephone">+38 (044) 501 60 01</a>
                </li>
                <li class="page-footer__tel-item">
                  <a href="tel:380445016001" class="page-footer__tel-link" itemprop="telephone">+38 (044) 501 60 01</a>
                </li>
              </ol>
            </div>

            <div class="page-footer__worktime">
              <h2 class="h4  page-footer__title">Режим работы</h2>
              <div class="page-footer__worktime-info">
                <meta itemprop="openingHours" content="Mo-Fr 10:00-19:00"/>
                <meta itemprop="openingHours" content="Sa 11:00-15:00"/>
                <span class="page-footer__worktime-item">ПН-ПТ:&emsp;<span>10.00 - 19.00</span></span>
                <span class="page-footer__worktime-item">СБ:&emsp;<span>10.00 - 19.00</span></span>
                <span class="page-footer__worktime-item">ВС:&emsp;<span>Выходной</span></span>
              </div>
            </div>

            <div class="page-footer__subscription">
              <h2 class="h4  page-footer__title">Подписка на рассылку</h2>
              <div class="page-footer__subscription-inner">
                <label class="field-text">
                  <span class="field-text__input-wrap">
                    <input class="field-text__input" type="email" name="email" value="" placeholder="Введите ваш Email">
                    <span class="field-text__help-text error"></span>
                  </span>
                </label>
                <button class="btn  page-footer__subscription-btn" type="button">Подписаться</button>
              </div>
            </div>

            <div class="page-footer__address">
              <h2 class="h4  page-footer__title">Наш адрес</h2>
              <div class="page-footer__address-info" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">Киев</span>,
                <span itemprop="streetAddress"> ул. Борисоглебская, 17/1 (м.&nbsp;Контрактова Площа)</span>
                <span class="visually-hidden" itemprop="postalCode">02000</span>
              </div>
              <div class="page-footer__address-bottom">
                <a href="#" class="page-footer__map">
                  <svg width="24" height="24" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#stor-icon"></use>
                  </svg>
                  <span>Показать на карте</span>
                </a>

                <div class="socials">
                  <a href="#" class="socials__link" title="Facebook">
                    <svg width="24" height="24" role="img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#facebook-icon"></use>
                    </svg>
                  </a>
                  <a href="#" class="socials__link" title="Instagram">
                    <svg width="24" height="24" role="img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#instagram-icon"></use>
                    </svg>
                  </a>
                  <a href="#" class="socials__link" title="Youtube">
                    <svg width="24" height="24" role="img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#youtube-icon"></use>
                    </svg>
                  </a>
                </div>

              </div>
            </div>

          </div>

        </section>
      </div>

    </div>

  </div>

  <div class="container">

    <section class="copyrights">
      <h4 class="visually-hidden">Авторские права, политика конфиденциальности, правила использования</h4>
      <div class="copyrights__inner">
        <a href="/" class="copyrights__logo">
          <img src="img/fitnessdom-footer-logo.svg" alt="Fitness Dom" width="178" height="32">
        </a>
        <span class="copyrights__owner">© Все права защищены. Fitness Dom 2014-2018.</span>
        <a href="#" class="copyrights__link">Политика конфиденциальности</a>
        <a href="#" class="copyrights__link">Условия использования</a>
        <a href="https://it-doors.com" class="copyrights__developer" title="IT-Doors Outsourcing, разработчик" target="_blank" rel="nofollow noopener">
          <img src="img/IT-Doors-logo.svg" alt="IT-Doors Outsourcing" width="75" height="28">
        </a>
      </div>
    </section>

  </div>


</footer>
