<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/prod-card-full/prod-card-full.html')
-->

<article class="prod-card-full">
  <a href="#" class="embed-responsive  embed-responsive--1-1  prod-card-full__img" title="Товар">
    <picture>
      <source data-srcset="img/prod-cart-img-1.webp" media="(min-width: 992px)" type="image/webp">
      <source data-srcset="img/prod-cart-img-1.jpg" media="(min-width: 992px)">
      <!-- 360x360 -->
      <source data-srcset="img/prod-cart-img-1.webp" media="(min-width: 768px)" type="image/webp">
      <source data-srcset="img/prod-cart-img-1.jpg" media="(min-width: 768px)">
      <!-- 425x425 -->
      <source data-srcset="img/prod-cart-img-1.webp" media="(min-width: 480px)" type="image/webp">
      <source data-srcset="img/prod-cart-img-1.jpg" media="(min-width: 480px)">
      <!-- 530x530 -->
      <source data-srcset="img/prod-cart-img-1.webp" type="image/webp">
      <img class="b-lazy" data-src="img/prod-cart-img-1.jpg" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== alt="Фото Товара" width="410" height="410">
    </picture>
  </a>

  <div class="prod-card-full__text">
    <h3 class="h4  prod-card-full__title  clamp">
      <a href="#" class="prod-card-full__link">Assault AirRunner Curve Black Assault AirRunner Curve Black Assault AirRunner Curve Black Assault AirRunner Curve Black</a>
    </h3>
    <span class="prod-code">Арт: <span>052 424 425 2567</span></span>
  </div>

  <div class="prod-card-full__bottom">

    <div class="prod-card-full__price-block">
      <span class="prod-card-full__price-old">118 456</span>
      <span class="prod-card-full__price-new">137 456<sup>грн</sup></span>
    </div>

    <a href="#" class="prod-card-full__logo-link" title="Airex">
      <img src="img/airex.jpg" alt="Airex">
    </a>

    <button class="btn  btn--icon  btn--cart" type="button" title="Добавить в корзину">
      <svg width="24" height="24" role="img">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#cart-icon"></use>
      </svg>
    </button>

  </div>

  <button class="btn  btn--icon  prod-card-full__compare" type="button" title="Добавить к сравнению">
    <svg width="24" height="24" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#compare-icon"></use>
    </svg>
  </button>

  <button class="btn  btn--icon  prod-card-full__favorite" type="button" title="Добавить в избранное">
    <svg width="26" height="24" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-svg.svg#favorite-icon"></use>
    </svg>
  </button>

  @@include('../../blocks/card-label/card-label.html')

</article>
